<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.5" />
		<httpRuntime targetFramework="4.5" />
<trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/> 


		<customErrors mode="On" defaultRedirect="~/ErrorPage.aspx">
			<error statusCode="401" redirect="~/Error401.aspx" />
			<error statusCode="403" redirect="~/Error403.aspx" />
			<error statusCode="404" redirect="~/Error404.aspx" />
		</customErrors>
	<pages>
      <controls>
        <add tagPrefix="asp" assembly="DropDownListChosen" namespace="DropDownListChosen" />
      </controls>
    </pages></system.web>
	<connectionStrings>
		<add name="dbCon" connectionString="Data Source=SAMAID;Initial Catalog=TestInk;Integrated Security=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.webServer>
		<defaultDocument enabled="true">
			<!-- this line enables default documents for a directory -->
			<files>
				<clear />
				<!-- removes the existing default document list -->
				<add value="SignIn.aspx" />
				<!-- foo.htm is now the default document  -->

			</files>
		</defaultDocument>
		<modules runAllManagedModulesForAllRequests="true" />
	</system.webServer>
</configuration>
