<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="ISymWrapper, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.Web.Infrastructure, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
    <!-- defaultRedirect="~/ErrorPage.aspx" -->
    <customErrors mode="Off" defaultRedirect="~/ErrorPage.aspx">
      <error statusCode="401" redirect="~/Error401.aspx"/>
      <error statusCode="403" redirect="~/Error403.aspx"/>
      <error statusCode="404" redirect="~/Error404.aspx"/>
    </customErrors>
    <pages>
     
    </pages>
  </system.web>
  <connectionStrings>
    <add name="dbCon" connectionString="Data Source=localhost;Initial Catalog=TestInk;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.webServer>
    <defaultDocument enabled="true">
      <!-- this line enables default documents for a directory -->
      <files>
        <clear/>
        <!-- removes the existing default document list -->
        <add value="SignIn.aspx"/>
        <!-- foo.htm is now the default document  -->
      </files>
    </defaultDocument>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="owin:AppStartup" value="Fyp.Startup"/>
  </appSettings>
</configuration>